<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" /> 
  <title>ホーム画面</title>
</head>
<body>
  <header>
    <h1 class="title">タイトル</h1>
      <ul class="nav">
        <li class="menu-item"><a href="index.html">ホーム</a></li>
        <li class="menu-item"><a href="#">商品登録</a></li>
        <li class="menu-item"><a href="#">レシピ</a></li>        
      </ul>
  </header>
  
  <h2>期限の近い商品</h2>
  <img src="./image/tomato.jpg" alt="トマト" />

  <h2>期限の切れた商品</h2>



  <h2>登録している商品</h2>
  <button type="button">追加</button>
</body>
</html>
